{% extends "admin/login.html" %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}
{% block content %}
    {{ block.super }}
    <form method="post" >
        {% csrf_token %}
        <a href="{% provider_login_url 'google' process="login" %}">Google</a>    
        <a href="{% provider_login_url 'facebook' process="connect"  %}">Facebook</a>    
    </form>
{% endblock %}