<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Verified</title>
    <meta charset="UTF-8"  name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <style>
        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        * {
            box-sizing: border-box;
        }

        .left {
            float: left;
            width: 50%;
        }

        .right {
            float: right;
            width: 50%;
        }

        /* Use a media query to add a break point at 800px: */
        @media screen and (max-width: 800px) {

            .left,
            .right {
                width: 100%;
                height: 50% !important;
                /* The width is 100%, when the viewport is 800px or smaller */
            }

            .contentLetf {
                margin-top: 0px !important;
                padding-top: 5%;
                width: 100% !important;
            }

        }

        .body {
            width: 100%;
            height: 100%;
            background-color: #FFF;
            /* overflow: hidden; */
            margin: 0px;
        }
    </style>
</head>


<body class="body">
    <div style="height: 100%; background-color: beige;" class="right">
        <img src="https://i.ibb.co/0MgPS4y/login-image.png" style="width: 100%;"  />
    </div>
    <div style="height: 100%; justify-content: center;display: flex;" class="left">
        
        <div style="width: 40%;margin-top: 20%;" class="contentLetf">
            <form method="post" action="{% url 'password_reset_verified_page' %}">
                {% csrf_token %}
            <h4
                style="font-family: Roboto;font-style: normal;font-weight: 700;font-size: 36px;line-height:42px;color: #000; width: 100%; text-align: center;">
                Mật khẩu mới</h4>
            <div style="width: 100%; display: flex; justify-content: center; padding: 0px;">
                <div style="width: 90%;">
                    <p
                        style="font-family: Roboto;font-style: normal;font-weight: 400;font-size: 14px;line-height:16px;">
                        Mật
                        khẩu mới</p>
                    <div
                        style="display: flex;width: 100%;border: solid; border-color: #e8e8e8; border-width: 1px; border-radius: 5px;padding-left: 10px;">
                        <img src="https://i.ibb.co/s5xcYF0/lock.png" width="25px" height="25px"
                        style="margin-top: 5px;"/>
                        <input
                            style="width: 100%; height: 35px; border:none; padding-left: 10px ;text-overflow: ellipsis;"
                            name="password" placeholder="Mật khẩu mới" type="password" />
                    </div>
                    <p>
                    {% if form.errors and form.errors.password %} 
                        <font color="red">{{ form.errors.password }}</font>
                    {% endif %}
                    </p>
                </div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; padding: 0px;">
                <div style="width: 90%;">
                    <p
                        style="font-family: Roboto;font-style: normal;font-weight: 400;font-size: 14px;line-height:16px;">
                        Nhập lại mật khẩu mới</p>
                    <div
                        style="display: flex;width: 100%;border: solid; border-color: #e8e8e8; border-width: 1px; border-radius: 5px;padding-left: 10px;">
                        <img src="https://i.ibb.co/s5xcYF0/lock.png" width="25px" height="25px"
                        style="margin-top: 5px;"/>
                        <input
                            style="width: 100%; height: 35px; border:none; padding-left: 10px ;text-overflow: ellipsis;"
                            placeholder="Nhập lại mật khẩu mới" type="password" name="password2" />
                    </div>
                    <p>
                    {% if form.errors and form.errors.password2 %} 
                        <font color="red">{{ form.errors.password2 }}</font>
                    {% endif %}
                    </p>
                </div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; padding: 0px;">
                <button
                    style="width: 90%; height: 40px; margin-right: 0px;background-color: #18202e; color: #FFFF; margin-top: 30px;border-color: #18202e; border-radius: 0.25rem;">Hoàn
                    thành</button>
            </div>
        </form>
    </div>
    </div>
</body>

</html>