* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  min-width: 100vw;
}

.spinner-border-sm,
.spinner-border {
  .sr-only {
    display: none;
  }
}

.table-common {
  overflow-y: auto;
  background-color: $white;
  &__title,
  th,
  td {
    padding: 1.15rem 1.25rem !important;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
  }

  table {
    border-collapse: collapse;
    border-spacing: 1px !important;
    th,
    td {
      border: none !important;
    }

    tr th {
      font-size: 14px !important;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      border: none;
    }

    tbody {
      padding: 0px 12px;
      tr {
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: calc(100% - 28px);
          height: 0.5px;
          background-color: rgba(0, 0, 0, 0.2);
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: calc(100vw - 22px);
  padding-right: 32px;
  padding-top: calc(57px + 32px);
  padding-left: calc(240px + 24px);

  @include mobile {
    padding: 12px;
    padding-top: $height-navbar + 10px;
  }
}

.body-custom {
  background: $background-color;
  min-width: 100%;
}

.custom-paging {
  // justify-content: flex-end !important;
  display: flex;
  .pagination {
    li.page-item:nth-child(1) {
      display: none;
    }
    li.page-item:nth-last-child(1) {
      display: none;
    }

    .page-item {
      margin: 0 4px;
    }
    .page-item.active .page-link {
      z-index: 3;
      color: $white;
      background-color: $main-color;
      border-color: $main-color;
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
    .page-link {
      color: $main-color;
      border-radius: 4px;
    }
  }
  .custom-multiple-select {
    .placeholder-select {
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #6c757d;
    }
  }
}

input[type='checkbox'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 1px;
  background: $white;
  height: 16px;
  width: 16px;
  border: 1px solid $main-color;
  display: inline-flex;
}

input[type='checkbox']:checked {
  background: $main-color;
}

input[type='checkbox']:hover {
  filter: brightness(90%);
}

input[type='checkbox']:disabled {
  background: $main-color;
  opacity: 0.6;
  pointer-events: none;
}

input[type='checkbox']:after {
  content: '';
  position: relative;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type='checkbox']:checked:after {
  display: block;
}

input[type='checkbox']:disabled:after {
  border-color: $white;
}

.input-left-icon {
  position: absolute;
  top: 18px;
  left: 14px;
  transform: translate(0px, -13px);
  z-index: 1;
}

.input-padding-icon {
  padding-left: 48px !important;
}

.button-primary {
  color: $white !important;
  background-color: $main-color !important;
  border-color: $main-color !important;
}

.close {
  border: 0;
  outline: 0;
  background: transparent;
  height: auto;
  width: auto;
  font-size: 24px;
  color: $main-color !important;
}

// //* custom input radio
.radio-common {
  input {
    min-width: 15px;
    min-height: 15px;
  }

  .form-check-input:checked {
    background-color: $black;
    border-color: $black;
  }
}

.radio-common {
  position: relative;
  .radio-common-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
  }
}

.form-control {
  font-family: $default-font !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 16px !important;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background: $background-color;
  width: fit-content;
}

.react-toast-notifications__container {
  z-index: 1000000 !important;
}

.box-shadow {
  -webkit-box-shadow: 5px 9px 17px 5px rgba(142, 142, 142, 0.38);
  box-shadow: 5px 9px 17px 5px rgba(142, 142, 142, 0.38);
  .select-box.is-invalid {
    .react-select__control {
      border-color: $invalid-color;
    }
  }

  .date-picker.is-invalid {
    > div > fieldset {
      border: 1px solid $invalid-color;
    }
  }
}
