@mixin darkTheme() {
  .dark-theme & {
    @content;
  }
}

@mixin lightTheme() {
  .light-theme & {
    @content;
  }
}

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin radio-default {
  position: relative;
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;

  width: 100%;
  height: 100%;
  border-radius: 15px;

  background-color: #fff;
  top: 0;
  left: 0;
}
@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
