// Variable overrides
$main-color: #18202e;
$selected-color: #35435b;
$white: #ffffff;
$button-color: #18202e;
$background-color: #f6f7fa;
$black: #000000;
$gray: #c4c4c4;
$select-color: #6c757d;
$red-color: red;
$gray-btn: #e1e1e1;
$gray-tbn-text: #212121;
$gray-txt: #949494;
$title-header: #e4e4e4;
$hover-color: #212529;
$blue: blue;
$border-report: #efefef;

$comment-bg: #f0f2f5;

$invalid-color: #dc3545;
$border-image-personal: #e6e6e6;

$width: 840px;
$sidebar-width: 240px;
// $default-font: '-apple-system, BlinkMacSystemFont, ' Segoe UI
//   ', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans ', ' Helvetica Neue
//   ', sans-serif';
// $default-font-title: '-apple-system, BlinkMacSystemFont, ' Segoe UI
//   ', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans ', ' Helvetica Neue
//   ', sans-serif';

$default-font: 'Roboto';
$default-font-title: 'Roboto Condensed';

$height-navbar: 56px;

.a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
