.add_result-card {
  //   box-shadow: 0 1px 5px rgb(0 0 0 / 10%), 0 1px 5px rgb(0 0 0 / 10%);
}
.add_result-card-header.mt-2.card {
  border: none;
}
.add_result-card .row {
  padding-bottom: 15px;
}
label.w-100 {
  padding-bottom: 8px;
}
.col-addresult {
  padding-bottom: 8px;
}
.form-group.row {
  padding-bottom: 17px;
}
.btn-clear {
  min-width: 30px !important;
  height: 36px !important;
}
