.avatar-personal-container {
  &_image {
    position: relative;
    img {
      border-radius: 50%;
    }
    &-input {
      position: absolute;
      border-radius: 50%;
      bottom: 0px;
      right: 0;
      width: 32px;
      height: 32px;
      background: $white;
      border: 1px solid $border-image-personal;
      box-sizing: border-box;
    }
  }
  &_content {
    color: $black;
    padding-left: 16px;

    &-title {
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
    &-subtitle {
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.5;
      }
    }
  }
}

.is-hover {
  &:hover {
    cursor: pointer;
  }
}
