button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;

  &.btn-secondary {
    background-color: #18202e;
  }

  &.is-link {
    background-color: transparent;
    color: #18202e;
    border: none;
  }

  // min-width: 135px !important;
  // font-size: 14px !important;

  &[class*='btn-outline']:not(.dropdown-custom):hover {
    background-color: $hover-color !important;
    svg {
      path {
        fill: $white !important;
      }
    }
  }

  span.sub-title {
    font-size: 14px;
    font-weight: 500;
  }

  .icon + span.sub-title {
    margin-left: 6px;
  }

  &:hover {
    span.sub-title {
      color: #fff;
    }
  }
}

// .btn-secondary {
//   &:not(.dropdown-custom) {
//     background-color: $hover-color !important;
//   }
//   min-width: 120px !important;
//   font-size: 14px !important;
// }
