.comment-item__container {
  .position-relative {
    border-radius: 18px;
    width: 479px;
    background-color: #f5f6f7;
  }
}

.comment-container {
  .comment-item {
    display: grid;
    grid-template-columns: 40px 1fr 20px;
    grid-template-areas:
      'avatar comment actions'
      'avatar image actions';
    column-gap: 20px;
    position: relative;
    margin-bottom: 1.5rem;
    &:hover {
      .comment-item__actions {
        visibility: visible;
        cursor: pointer;
      }
    }
    &__avatar {
      grid-area: avatar;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
      }
    }

    &__content {
      grid-area: comment;
      padding: 8px;
      background-color: $comment-bg;
      border-radius: 12px;
      word-break: break-word;

      &__nickname {
        font-weight: 700;
      }
      p {
        margin-bottom: 8px;
      }
    }

    &__image {
      grid-area: image;
      max-width: 100%;
      margin-top: 12px;
      overflow: hidden;
      img {
        border-radius: 12px;
        max-width: 100%;
      }
    }

    &__actions {
      grid-area: actions;
      visibility: hidden;
      position: relative;

      &.active {
        visibility: visible;
      }

      > span {
        transition: 0.3s;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active,
        &:hover {
          background-color: $gray;
        }
      }

      &__more {
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;

        box-shadow: 0px 2px 4px #ccc;
        background-color: $white;
        border-radius: 5px;
        min-width: 200px;

        top: 30px;
        right: 0;
        padding: 8px;

        > div {
          padding: 8px;
          &:hover {
            background-color: $comment-bg;
          }
        }
      }
    }
  }
}

.comment-popover-more {
  > .popover {
    left: -10px !important;
    top: 15px !important;
    border: none !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

    .popover-body {
      padding: 8px !important;
      min-width: 200px;

      > div {
        &:hover {
          cursor: pointer;
          background-color: $comment-bg;
        }

        padding: 4px 4px 4px 8px;
      }
    }
  }
}

.send-comment {
  position: relative;

  .input {
    border-radius: 30px;
    padding-right: 200px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .icon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    // height: 100%;

    .icon-element {
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      border-radius: 50%;

      width: 30px;
      height: 30px;
      &:hover {
        cursor: pointer;
        background-color: $gray;
      }
    }
  }
}
