.form-personal__container {
  .row {
    padding-top: 9px;
    .department-col {
      padding-top: 0;
    }
    @include mobile {
      .department-col {
        padding-top: 5px !important;
      }
    }
    .button-cancel {
      padding-bottom: 0;
    }
    @include mobile {
      .button-cancel {
        padding-bottom: 5px !important;
      }
    }
  }
}
