.notification-item {
  position: relative;
  border-bottom: 1px solid $gray;
  padding: 12px;
  &:hover {
    .notification-item__action {
      visibility: visible;
      cursor: pointer;
    }
  }

  &__action {
    grid-area: actions;
    visibility: hidden;
    position: relative;

    &.active {
      visibility: visible;
    }

    > span {
      transition: 0.3s;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active,
      &:hover {
        background-color: $gray;
      }
    }
  }

  .notification-item__content {
    .notification-item__name {
      font-weight: bold;
    }
    .notification-item__text {
      padding-left: 4px;
    }
  }
}
