.popover-notification__container {
  button#Povover {
    border: none !important;
  }
  button#Povover :hover {
    border: none !important;
    background-color: $white !important;
  }
}

.popover-notification {
  .popover {
    width: 400px;
    max-width: 100%;
    top: 8px !important;
  }
}
.quiz {
  padding: 12px;
  display: block;
}
.notification-item__icon {
  box-shadow: none !important;
  padding: 0;
}
