.detail-price__body {
  margin-left: 24px;
  margin-top: 20px;
  flex: 1;
}
.price-item {
  // margin-left: 55px;

  &__container {
    background: $white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    width: 296px;
    height: 422px;
    padding-top: 24px;
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    &-header {
      padding-bottom: 15px;
      padding-left: 24px;
      border-bottom: 2px solid #c4c4c4;
      &_title {
        margin-bottom: 8px;
        &__subtitle {
          padding-top: 6px;
        }
        &__text {
          min-width: 110px;
          height: 28px;
          font-size: 24px;
          line-height: 28px;
        }
        &__advise {
          font-size: 13px;
          line-height: 16px;
          color: $white;
          min-width: 97px;
          height: 24px;
          background: $main-color;
          padding: 5px 0px 2px 3px;
          span {
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
      &_subtitle {
        &-subtag {
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
    &-content {
      border-top: 1px solid $gray;
      padding-top: 27px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 64px;
      &__text {
        margin-left: 14px;
        &_bold {
          font-weight: bold;
        }
      }
    }
    &-footer {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 18px;
    }
  }
}
@include mobile {
  .price-item {
    padding-bottom: 2rem;
  }
}
.pricing-container__title {
  text-align-last: center;
}
.price-item-advise__container {
  height: 470px;
}
.price-item__page {
  background-color: $background-color;
  height: 100vh;
}
