.quiz-container {
  width: 600px;
  //   height: 196px;
  font-family: $default-font;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: $black;
  background: $white;
  padding-left: 24px;
  padding-bottom: 32px;
  padding-right: 64px;
  margin-bottom: 30px;
  &-header {
    &-question {
      font-weight: bold;
      margin-right: 8px;
    }
    &-button {
      .button {
        min-width: 109px;
        height: 24px;
        background-color: $white;
        border: 1px solid $black;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }
    padding-top: 16px;
    padding-bottom: 13px;
  }
  &-content {
    padding-bottom: 26px;
    &-text {
      margin-bottom: 24px;
    }
    &-image {
      width: 490px;
      height: 276px;
      background-image: url('https://i.pinimg.com/564x/2e/49/5f/2e495f48877c4eea7bf1bed0a5abad12.jpg');
      border-radius: 4px;
    }
  }
  &-footer {
  }
}
