.challenge-container {
  display: flex;
  //   width: 100%;
  align-items: center;
  flex: 1;
  background-color: $white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  .position-relative {
    border: none;
    flex: 1;
  }
  &__icon {
    margin: 0 20px;
  }
}
