.okr-result_text {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-status {
  min-width: 140px;
}
.field-header {
  .field-header__col {
    min-width: 200px;
  }
  @include mobile {
    .field-header__col {
      padding-bottom: 20px;
      min-width: none !important;
    }
  }
}
.listokr-container__table {
  @include mobile {
    padding-top: 50px;
  }
}
