.checkin-container {
  color: $black;
  font-family: $default-font;
  background-color: $white;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  &-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
    .header-checkin {
      padding-bottom: 17px;
      padding-top: 24px;
      padding-left: 22px;
      padding-right: 28px;
      &-text {
        font-size: 24px;
        line-height: 28px;
        margin-right: 24px;
      }
      .rounded-0 {
        min-width: 140px;
        height: 40px;
        span {
          margin-left: 0px !important;
        }
      }
      button.rounded-0.btn.btn-secondary {
        background-color: #18202e !important;
      }
    }
  }
  &-subtitle {
    padding-top: 24px;
    padding-bottom: 45px;
    padding-left: 24px;
    .subtitle-checkin {
      padding-bottom: 8px;
      &-span {
        font-size: 20px;
        line-height: 23px;
        padding-right: 34px;
      }
      &-time {
        padding-right: 25px;
      }
      &-process {
        padding-right: 16px;
      }
      .percent-completed {
        &-span {
          padding-top: 8px;
          padding-bottom: 8px;
          padding-right: 12px;
          padding-left: 12px;
        }
      }
    }
  }
  &-table {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    .th-table {
      font-weight: normal;
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      opacity: 0.5;
      width: 160px;
      vertical-align: text-top;
    }
    .th-table:nth-child(1) {
      min-width: 110px;
    }
    .th-table:nth-child(2) {
      min-width: 110px;
    }
    .th-table:nth-child(3) {
      min-width: 110px;
    }
    .th-table:nth-child(4) {
      min-width: 110px;
    }
    .th-table:nth-child(5) {
      min-width: 110px;
    }
    .textarea-field {
      width: 160px;
      height: 136px;
    }
    .processed-completed {
      width: 80px;
      padding: 4px;
      background: #18202e;
      border-radius: 4px;
      color: white;

      &-span {
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 12px;
        padding-left: 12px;
      }
    }
    .btn-list {
      background-color: $white;
      width: 72px;
      height: 32px;
      border: 1px solid #c7c7c7;
      box-sizing: border-box;
      border-radius: 4px;
    }
    .t-lists {
      padding-top: 28px;
      padding-bottom: 28px;
      .is-done {
        background-color: white !important;
        color: #18202e !important;
        min-width: 103px;
        height: 24px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    .body-history {
      display: flex;
      width: 200%;
      flex: 1;
      justify-content: center;
      color: red;
      padding-top: 20px;
    }
  }
  &-confident {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 85px;
    .confident-checkin {
      &-text {
        padding-right: 24px;
      }
      &-radio {
        .field {
          padding-right: 24px;
        }
      }
      .confident-okr {
        padding-right: 18px;
      }
    }
  }
  &-footer {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.08);
    .footer-checkin {
      padding-top: 19px;
      padding-bottom: 21px;
      &-text {
        padding-right: 24px;
        font-size: 14px;
        line-height: 16px;
      }
      &-next-time {
        border-left: 1px solid #c7c7c8;
        &-right {
          padding-left: 22px;
          span {
            padding-right: 16px;
          }
          .btn-time {
            width: 140px !important ;
            height: 40px !important;
          }
        }
      }
      .btn-save {
        margin-right: 22px;
        min-width: 140px;
      }
      .btn-done {
        min-width: 140px;
        background-color: #18202e !important;
      }
    }
  }
}
