.create_okr-container {
  background-color: $background-color;
  .container {
    height: 100% !important;
    width: 100% !important;
    background-color: $white;
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    .checkBox-field {
      background-color: $black;
    }
    select {
      color: $select-color;
    }
    .btn-cancel {
      width: 140px;
      height: 40px;
      background-color: $white;
      font-size: 14px;
      color: $button-color;
    }
    .btn-save {
      width: 140px;
      height: 40px;
      background-color: $button-color;
      font-size: 14px;
    }
    .okr-relate_input {
      position: relative;
    }
    .btn-clear {
      position: absolute;
      bottom: 1px;
      right: 0px;
      background-color: $gray-btn;
      border-color: $gray-btn;
      color: $gray-tbn-text;
    }
    .button-common {
      height: 40px;
      min-width: 135px !important;
    }
    .text-add_okr-relate {
      padding-top: 17px;
    }
  }
}
