.dashboard-container {
  &__form-search {
    > div {
      @include mobile {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__progresses {
    &__list {
      display: flex;
      align-items: center;
      padding-top: 24px;
      padding-left: 24px;
      padding-bottom: 32px;
      padding-right: 24px;
      @include mobile {
        display: block;
      }
    }
    &__item {
      > div {
        @include mobile {
          width: 100% !important;
          max-height: 100px;
          padding: 0 !important;
          margin-bottom: 18px;
        }
        width: 300px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.5rem;
        margin-right: 5px;
      }
    }
  }
}
