.okr-container {
  color: $black;
  .th-table {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0.5;
  }
  .td-list {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tr-table {
    border-bottom: 1.5px solid $title-header;
  }
  .processed {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text-okr {
    font-size: 18px;
    border-bottom: 1.5px solid $title-header;
    font-style: bold;
    padding: 12px 0px;
  }
}
