.btn-feedback-okr {
  background-color: $button-color !important;
}
.form-content {
  height: 270px;
}
.ql-editor {
  min-height: 18em;
}
.quill {
  background-color: white;
}
.ql-editor {
  background-color: white;
}
.feedback_container {
  background-color: white;
}
.title__feedback {
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  padding: 20px 18px 0px 18px;
}
.separator__feedback {
  margin: 20px 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.feedback {
  padding: 0px 18px 0px 18px;
}

.title-add {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  margin-left: 8px;
}

.content {
  background-color: #fff;
  // padding: 5px;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
    margin: 20px;
  }
  .bottom {
    margin-right: 20px;
  }
}
.list-feedback {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  .item {
    // background-color: red;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #e4e4e4;
    // height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.overview-content {
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  border-right-width: 0px;
  border-left-width: 0px;
  display: flex;
  .item {
    // background-color: red;
    padding-left: 20px;

    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item span {
    display: block;
    // background-color: blue;
  }

  .border-item {
    border-width: 0px;
    border-style: solid;
    border-color: #e4e4e4;
  }

  .border-left {
    border-left-width: 1px;
  }
  .border-right {
    border-right-width: 1px;
  }

  .border-top {
    border-top-width: 1px;
  }
  .border-bottom {
    border-bottom-width: 1px;
  }
}

.right-item span {
  text-align: end;
}
