.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  z-index: 9;
}
.header {
  .is-desktop {
    display: flex;

    @include mobile {
      display: none;
    }
  }

  .is-mobile {
    display: none;

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  display: flex;
  justify-content: space-evenly;
  padding: 9px 24px 15px 24px !important;
  background: $white;
  height: $height-navbar;
  justify-content: flex-end !important;
  .button-add {
    background: $button-color;
    border-radius: 4px;
    margin-right: 34px;
    .title-add {
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $white;
      margin-left: 8px;
    }
  }
  .bell-icon {
    margin: 0px 28px;
  }
  .separator {
    height: 1px;
    left: 0px;
    top: 56px;
    background: $gray;
    opacity: 0.2;
    width: 100%;
  }
  .dropdown-custom {
    background: transparent;
    border: transparent;
    color: $black;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px !important;
    span {
      margin: 0 8px;
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      //   color: $black;
    }
    &:hover {
      background-color: $main-color !important;
      border-color: $main-color !important;
    }
    &:active {
      background-color: $main-color !important;
      border-color: $main-color !important;
    }
    &:focus {
      background-color: $main-color !important;
      border-color: $main-color !important;
    }
    &__dropdown-item {
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $black;
    }
  }
  @include mobile {
    .nav-menu {
      position: fixed;
    }
  }
}
