.btn-submit {
  background-color: #18202e !important;
  margin-left: 10px;
}
.text-header {
  font-size: 24px;
}
.button-result {
  height: 24px;
  width: 90px;
  padding: 0px !important;
  background-color: white !important;
  color: #18202e !important;
  margin: auto;
  font-family: $default-font;
  font-size: 14px !important;
}
.percent-completed {
  min-width: 57px;
  height: 24px;
  background: #18202e;
  border-radius: 4px;
  color: white;
  font-family: $default-font;
  font-size: 14px !important;
  margin: auto;
  padding-top: 2px;
  text-align: center;
}
.text-center {
  font-size: 14px !important;
}
.iconback {
  margin-right: 20px;
}
.filter-time {
  display: block;
  width: 157px !important;
  height: 40px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  // background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.text-okr {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
  background-color: white;
}
.main-container {
  min-height: 100vh;
}
.table.table.table-valign-middle {
  background-color: white;
}
.btn-status {
  font-size: 14px !important;
  height: 25px;
  width: 106px !important;
  padding: 0px !important;
  background-color: white !important;
  color: #18202e !important;
  margin: auto;
  font-family: $default-font;
}
.btn-feedback {
  background-color: #f6f7fa !important;
  width: 135px;
  height: 40px;
  left: 1433px;
  top: 141px;

  // opacity: 0.2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  color: #212121 !important;
}
.icon-feedback {
  margin-right: 8px;
}
.field-header {
  height: 40px;
}
