.personal-infor-container {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  &-header {
    padding-bottom: 32px;
    span {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
  }
  &-content {
    max-width: 712px;
    height: 696px;
    background: $white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
  }
}
