.pricing-container {
  padding: 0px 15vw;

  &__title {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 49px;
    padding-top: 49px;
  }
}
