.quiz-okr {
  width: 600px;
  padding-bottom: 20px;
  p {
    // position: fixed;
    // right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.quiz-footer {
  width: 600px;
}
