.custom-form {
  .pos-relative {
    position: relative;
  }
  // padding: 0 192px;
  overflow: hidden;
  .form-control {
    // margin-bottom: 20px;
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: $white;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    // line-height: 16px;
  }
  .login-text {
    margin-top: none !important;
    margin-bottom: 0 !important;
  }
  .rounded-1rem {
    border-radius: 1rem !important;
  }
  .image-login {
    width: 50vw;
    // height: 100vh;
  }
  .center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--title {
    font-family: $default-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $black;
    white-space: break-spaces;
    text-align: left;
  }
  &--header {
    margin-bottom: 56px;
  }
  &--label {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    margin-bottom: 8px;
  }
  &--forgot-pass {
    font-family: $default-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    &__no-decor {
      text-decoration: none;
    }
    &__gray {
      color: $gray-txt;
    }
  }
  &--image-wrap {
    flex: 1;
    position: relative;
    height: 100vh;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pos-relative {
    position: initial !important;
  }
  .image-wrap {
    .custom-form--image-wrap {
      position: initial !important;
      .image-login {
        display: none;
      }
    }
  }
}
