.chartOkr-container {
  font-family: $default-font;
  font-style: normal;
  font-weight: 400;
  &-header {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 51px;
    &_title {
      padding-right: 29px;
      font-size: 24px;
      line-height: 28px;
    }
    &_btnOkr {
      min-width: 118px;
      height: 40px;
    }
    button.rounded-0.btn.btn-secondary {
      background-color: #18202e !important;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 41px;
      padding-left: 41px;
    }
    &_btnCfrs {
      min-width: 118px;
      height: 40px;
    }
    button.rounded-0.chartOkr-container-header_btnCfrs.btn.btn-outline-secondary {
      background: $white;
      border: 1px solid $border-report;
      box-sizing: border-box;
      color: $black;
    }
    &_text {
      margin-bottom: 24px;
      margin-top: 48px;
      &-span {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
  &-content {
    background: $white;
    padding-top: 32px;
    padding-left: 33px;
    margin-bottom: 48px;
    &_title {
      .subtitle {
        padding-left: 0 !important;
        font-size: 24px;
        line-height: 28px;
        margin-right: 32px;
      }
      .subtitle-span {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
      }
      .chart {
        margin-top: 25px;
        margin-bottom: 37px;
      }
      &-chartBar {
        width: 424px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
        margin-right: 34px;
        .border-bottom {
          padding-top: 12px;
          padding-left: 16px;
          padding-bottom: 14px;
          margin-bottom: 30px;
          font-size: 18px;
          line-height: 21px;
          font-weight: bold;
        }
      }
      .form-group {
        min-width: 226px;
        select#department {
          height: 40px;
        }
        select#okr {
          height: 40px;
        }
      }
      .list-time {
        padding-right: 34px;
        // line-height: 18px;
        // font-size: 16px;
      }
    }
    .time {
      line-height: 18px;
      font-size: 16px;
      font-weight: bold;
    }
    .clear-time {
      margin-left: 207px;
    }
  }
}
