.sidebar {
  background: $main-color;
  width: $sidebar-width;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .is-mobile {
    // display: none;
  }
  @include mobile {
    display: none;
    // .is-mobile {
    //   display: block;
    //   background-color: red;
    //   // display: block;
    // }
  }

  a {
    display: block;
    text-decoration: none;
    color: transparent;
  }

  .separator {
    height: 1px;
    left: 0px;
    top: 56px;
    background: $white;
    opacity: 0.2;
    width: 100%;
  }
  .title-wrap {
    height: 56px;
    padding: 0px 24px;
    .title {
      font-family: $default-font-title;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: $white;
    }
  }

  .menu {
    padding: 20px 24px;
    &--selected {
      background: $selected-color !important;
    }
    .menu-name {
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $white;
      margin: 0px 16px;
    }
  }
  .btn-custom-container {
    position: absolute;
    bottom: 32px;
    align-self: center;
    left: 24px;
    // transform: translate(-50%, 0px);
    .custom-button {
      height: 40px;
      width: 40px;
      margin: 0px 8px !important;
      background: $selected-color;
      display: inline-flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
  }
}

.sidebar-mobile {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: $main-color;
  color: $white;
  .menu {
    padding: 20px 24px;
    &--selected {
      background: $selected-color !important;
    }
    .menu-name {
      font-family: $default-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $white;
      margin: 0px 16px;
    }
  }
  @include mobile {
    display: block;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding: 11px 24px 15px 24px !important;
    height: 56px;
    svg {
      path {
        stroke: $white;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      padding: 12px 24px;
      color: $white;
      > span {
        display: inline-block;
        padding-left: 24px;
        text-align: center;
        transform: translateY(3px);
      }
    }
  }
}
