.tree-okr {
  min-width: calc(100vw - 240px - 24px - 54px);
  font-family: $default-font;
  select#department {
    min-width: 178px;
  }
  &__tree-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    .tree-okr__col {
      padding-top: 0;
    }
  }
  @include mobile {
    .tree-okr__col {
      padding-top: 12px !important;
    }
  }
}
